h1,h2 {
    font-family: 'Kaushan Script', cursive;
}

.header {
    height: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.section {
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.first-block{
    width: 100%;
    height: 800px;
    background-image: url( '/static/img/background.jpg' );
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;
}

.area-one {
    text-align: center;
    padding-top: 50px;
    color: white;
    height: 300px;
}

.entry {
    position: relative;
    height: 8%;
    }
  
  .entry a {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
    margin:0;/*余計な隙間を除く*/
    font-size: 18px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    text-decoration: none;/*下線を表示させない*/
    }
  
  .entry a:hover{/*カーソルを当てたとき*/
    background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
    }

/*set below to fix the background */    
.fixed-bg::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background-image: url( '/static/img/background.jpg' );
    background-position: center center;
    -webkit-background-size:cover;/*Android4*/
    }

.fixed-bg {
    min-height: 500px;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    }
    
    .bg01 {
        background-image: url( '/static/img/background.jpg' );
    }
    
    .bg02 {
        background-image: url( '/static/img/background.jpg' );
    }

    .scroll-bg {
        height: 600px;
        margin: 3%;
        color: #888888;
        background-color: white;
    }