{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
<link rel="stylesheet" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>nori and amira's wedding invitation</title>
</head>
<body>
<div class="container-fluid first-block">
    <div class="row justify-content-center area-one">
        <h1>Welcome <br> to <br> Amira&Nori's</h1>
    </div>
    <div class="row entry">
            <a href="/wedding">Entry to Wedding</a>
    </div>
    <div class="row entry">
            <a href="/reception">Entry to Reception</a>
    </div>
</div>

</body>
</html>