{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <!--Social Media -->
    <meta property=”og:title” content="Welcome to Amira&Nori's wedding page!" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{% static 'img/thumbnail.jpg' %}"/>
    <meta property=”og:description” content="We provide the details of our event online. Please fill the form once you are ready to roll." />
    
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nori&Amira's Reception Invitation</title>
</head>
<body>
    <div class="container-fluid fixed-bg">
        <div class="scroll-bg-letter">
            <div class="row justify-content-center letter-padding">
            </div>
            <div class="row justify-content-center letter-header">
                <p>The families of Mrs.Rosiah and Mr&Mrs Irie<br>
                invite you to the reception of their children<br></p>
            </div>
            <div class="row justify-content-center letter-section">
                <h1>Amira<br>&<br>Norifumi</h1>
            </div>
            <div class="row justify-content-center letter-header">
                <p>Saturday, 4th July 2020<br>
                Villa Anugrah, Bali Indonesia</p>
            </div>
            <div class="row justify-content-center letter-padding">
            </div>
        </div>
        <div class="scroll-bg">
            <div class="frame-wrapper__video">
                <iframe src="https://www.youtube.com/embed/dLTNA5vJ_yI?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="scroll-bg">
            <div class="row justify-content-center header">
            <h2>Event Details</h2>
            </div>
            <div class="row justify-content-start section">
                    <p>
                        <b>City:</b><br>
                        Uluwatu Bali, Indonesia<br>
                    </p>
            </div>
            <div class="row justify-content-start section">
            <p>
                <b>Date:</b><br>
                3rd July(Fri) - 4th July(Sat), 2020<br>
            </p>
            </div>
            <div class="row justify-content-start section">
            <p>        
                <b>Venue:</b><br>
                Villa Anugrah, Bali Indonesia<br>
            </p>            
            </div>
            <div class="row justify-content-start section">
            </div>
            <div class="row justify-content-start section">
            <p>        
                <b>Hotel&Transport</b><br>
                To support your trip, we will prepare accommodation and transport between the hotel and the venue.<br>
                We are sorry that we could not arrange transportation between the airport and the hotel, but please let us know if you have any question.
                We will try our best to make your stay comfortable.
            </p>
            </div>
            <div class="row justify-content-start section">
            <p>        
                <b>Public Transport Info</b><br>
                Grab, a ride-hailing service like Uber, is dominant and the most convenient when it comes to traveling across East Malaysia.
                We suggest you download the app and create your own account before departing from your own country. 
                Find more info by clicking its logo below:
            </p>
            </div>
            <div class="row justify-content-center section">
                <a href="https://www.grab.com/my/download/"><img src="{% static 'img/grab.jpg' %}" alt="" id="grab-logo"></a>
            </div>
            <div class="row justify-content-start section">
                    <p>        
                        <b>Contact</b><br>
                        For any inquiry, please feel free to contact us via Whatsapp. Clicking the number below, you can text us.
                        If you do not have Whatsapp, you may download it from the Whatsapp logo at the bottom.<br>
                        <br>
                        Rosiah Dahlan: <a href="https://api.whatsapp.com/send?phone=60192401002&text=Hi%20Rosiah!">+60192401002</a><br>
                        Amirul Shafiq: <a href="https://api.whatsapp.com/send?phone=60193988786&text=Hi%20Amirul!">+60193988786</a><br>
                        Amira Shahira: <a href="https://api.whatsapp.com/send?phone=60192933005&text=Hi%20Amira!">+60192933005</a><br>
                        Latifah Dahlan: <a href="https://api.whatsapp.com/send?phone=60122091351&text=Hi%20Latifah!">+60122091351</a><br>
                        Amira Shahida: <a href="https://api.whatsapp.com/send?phone=818078121953&text=Hi%20Amira!">+818078121953</a><br>
                        Norifumi Irie: <a href="https://api.whatsapp.com/send?phone=60135335642&text=Hi%20Nori!">+60135335642</a><br>
                    </p>
            </div>
            <div class="row justify-content-center section">
                <a href="https://www.whatsapp.com/"><img src="{% static 'img/whatsapp.png' %}" alt="" id="whatsapp-logo"></a>
            </div>
        </div>
        
        <div class="scroll-bg">
            <div class="row justify-content-center header">    
            <h2>Entry Form</h2>
            </div>
            <div class="row justify-content-center section">
            <form action="{% url 'reception' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row field">
                        {% if field.label != 'Event' %}
                        <label for="{{ field.id_for_label }}" class="label">{{field.label}}</label>
                        {% endif %}
                    </div>
                    <div class="row field">
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="row justify-content-center section">
                    <input class="submit" type="submit" value="Submit">
                </div>
            </form>        
            </div>
        </div>
    </div>
</body>
</html>