{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container-fluid fixed-bg">
        <div class="scroll-bg">
            <div class="row justify-content-center header">
            <h2>Wedding Info</h2>
            </div>
            <div class="row justify-content-start section">
            <p>
                <b>Date:</b><br>
                6th June, 2020 (Sat) <br>
            </p>
            </div>
            <div class="row justify-content-start section">
            <p>        
                <b>Venue:</b><br>
                Masjid Tuanku Mizan Zainal Abidin (Iron Mosque)<br>            
            </div>
        </div>
        
        <div class="row justify-content-center scroll-bg">
            <h2>Entry Form</h2>
        </div>
    </div>
</body>
</html>